:root {
    --background: rgba(255, 255, 255, 0.15);
    --background-hovered: rgba(255, 255, 255, 0.25);
    --background-border: 2px solid #666;
    --border-radius: 2rem;
    --main-color: #FAB005;

    --bs-body-font-size: 18px;
    --bs-border-radius: var(--border-radius);
    --bs-primary: var(--main-color);
    --bs-primary-rgb: 250, 176, 5;
}

.btn {
    --bs-btn-font-size: var(--bs-body-font-size);
    --bs-btn-hover-bg: var(--background-hovered);
}


body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.background {
    background: var(--background);
    border: var(--background-border);
    backdrop-filter: blur(32px);
    border-radius: var(--border-radius);
}
